@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?9nr35e");
  src: url("fonts/icomoon.eot?9nr35e#iefix") format('embedded-opentype'), url("fonts/icomoon.ttf?9nr35e") format('truetype'), url("fonts/icomoon.woff?9nr35e") format('woff'), url("fonts/icomoon.svg?9nr35e#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e908";
}
.icon-address:before {
  content: "\e901";
}
.icon-message:before {
  content: "\e902";
}
.icon-right:before {
  content: "\e903";
}
.icon-down:before {
  content: "\e904";
}
.icon-left:before {
  content: "\e905";
}
.icon-show:before {
  content: "\e906";
}
.icon-hide:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-github:before {
  content: "\e90c";
}
body,
html {
  background: #000;
  color: #fff;
  margin: 0 auto;
  font-family: "Dancing Script";
  font-weight: bold;
}
body .Header,
html .Header {
  margin-top: 0;
  text-align: center;
}
body .Header-button,
html .Header-button {
  font-size: 12px;
  color: #fff;
  background: #000;
  width: 40px;
  height: 40px;
  line-height: 30px;
  border-radius: 50%;
  border: solid 2.5px #e81e48;
  position: fixed;
  z-index: 3;
  right: 20px;
  top: 30px;
  outline: 0;
  display: none;
}
body .MainMenu,
html .MainMenu {
  background: #000;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  box-shadow: 0px 0px 30px 0px #e61f48;
  font-size: 20px;
}
body .MainMenu-list,
html .MainMenu-list {
  margin: 0;
  padding: 0;
}
body .MainMenu-item,
html .MainMenu-item {
  display: inline-block;
}
body .MainMenu-item:hover,
html .MainMenu-item:hover {
  background: #e81e48;
}
body .MainMenu-link,
html .MainMenu-link {
  color: #fff;
  text-shadow: 3px 3px 3px #e61f48;
  text-decoration: none;
  line-height: 3em;
  padding: 0.9em 5em;
}
body .Index,
html .Index {
  background-image: url("../photos/FinalStock2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 100vh;
}
body .Index-welcome,
html .Index-welcome {
  position: absolute;
  top: 10em;
  right: 0px;
  left: 0px;
  text-align: center;
  color: #e81e48;
}
body .Index-slogan,
html .Index-slogan {
  margin-top: 30px;
}
body .Index-slogan-text,
html .Index-slogan-text {
  color: #fff;
  font-size: 20px;
  border: solid 2.5px #e81e48;
  border-radius: 30px;
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
body .Index-scroll,
html .Index-scroll {
  position: absolute;
  text-align: center;
  right: 0px;
  left: 0px;
  top: 17em;
  color: #e81e48;
  font-size: 40px;
}
body .Index-scroll-text,
html .Index-scroll-text {
  font-size: 30px;
  font-family: "Dancing Script";
  font-weight: bold;
}
body .QuienesSomos,
html .QuienesSomos {
  background-image: url("../photos/Stock2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  body .Index-scroll,
  html .Index-scroll {
    top: 20em;
  }
  body .MainMenu-link,
  html .MainMenu-link {
    padding: 0.9em 2em;
  }
}
@media screen and (max-width: 767px) {
  body .Header,
  html .Header {
    margin-top: 0;
  }
  body .Header-button.is-active,
  html .Header-button.is-active {
    display: block;
  }
  body .MainMenu,
  html .MainMenu {
    height: auto;
    border-radius: 0px 0px 70px 0;
    left: -200px;
    box-shadow: none;
    width: 140px;
    transition: 0.3s;
  }
  body .MainMenu.is-active,
  html .MainMenu.is-active {
    left: 0;
    box-shadow: 0px 0px 30px 0px #e61f48;
  }
  body .MainMenu-item,
  html .MainMenu-item {
    display: block;
  }
  body .MainMenu-item.final,
  html .MainMenu-item.final {
    border-radius: 0px 0px 70px 0;
  }
  body .MainMenu-link,
  html .MainMenu-link {
    margin: 0px;
    padding: 1em 1em;
  }
  body .Index-scroll,
  html .Index-scroll {
    top: 14em;
  }
}
@media screen and (max-width: 320px) {
  body .Index-welcome,
  html .Index-welcome {
    top: 6em;
  }
  body .Index-scroll,
  html .Index-scroll {
    top: 10em;
  }
}
